.author-loading {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 30px);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 3;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 2px;
}