
<!--navbar header -->
<div class="navbar navbar-header navbar-static-top bg-htgk">
  <!--button-group--><!--/button-group-->
  <!-- brand -->
  <a class="navbar-brand text-lt" ng-href="#">
      <img ng-src="assets/images/logo.png" alt="logo">
    <span class="hidden-folded m-l-xs">恒拓高科</span>
  </a>
  <!-- /brand -->
</div>
<!--/ navbar header-->

<!-- nabar collapse -->
<div class="collapse navbar-collapse pos-rlt box-shadow bg-htgk" id="settings-menu">
  <!--buttons-->
  <!--/buttons-->

  <!--navbar right-->
  <ul class="nav navbar-nav navbar-right">
    <li class="">
      <a href>
        <span class="thumb-sm avatar pull-right m-b-n-sm m-t-n-sm m-l-sm">
          <img src="assets/images/h15.jpg" alt="..">
          <i class="on bottom md b-white"></i>
        </span>
        <span  class="hidden-sm hidden-md">HanMeimei</span>
        <i class="caret"></i>
      </a>
    </li>
  </ul>
  <!--/navbar right-->
</div>
<!-- /nabar collapse -->